# Compiled
*.elc

# Packaging
.cask

# Emacs backup files
*~
\#*\#
# Emacs backups of hidden files, like ".gitignore.~3~"
.*.~*~
.\#*

# Undo-tree save-files
*.~undo-tree
/sync-recentf/
/template.el
/dired-filetype-face.el
desktop.ini

julia_setup.jl
Mastering\ emacs\ -\ Mickey\ Petersen.pdf
