---
title: ""
author: "Kevin Wright"
date: ""
bibliography: c:/Dropbox/notes/refs.bib
latex_engine: xelatex
fontsize: 11pt
output:
  pdf_document: default
  html_document:
    theme: cerulean
    highlight: tango
  prettydoc::html_pretty:
    theme: cayman
    highlight: vignette
header-includes:
  - \usepackage[utf8]{inputenc} # For Swedish characters
  - \usepackage{lmodern} # not pixelated like cmbright
  - \usepackage{microtype} # need to disable ligatures
  - \DisableLigatures{encoding = *, family = * }
  - \usepackage{inconsolata} # load after lmodern for sanserif code
  - \usepackage[cm]{sfmath} # For Computer Modern fonts in equations
  - \usepackage[document]{ragged2e} # ragged right for whole doc
  - \usepackage[margin=1in]{geometry} # cannot set to 2cm for some reason

---
<style type="text/css">
body, td { font-size: 14pt; color: #000; padding:1em; }
code, pre, #ws, #message {border: 0px; font-size: 12pt;
  color: #000; background-color: #f5f5f5; }
code {border: 0px solid #e0e0e0; padding: 0 5px;}
pre > code { border: 0; }
</style>

# Abstract

# R setup


```r
library("knitr")
knitr::opts_chunk$set(fig.align="center", fig.width=6, fig.height=6)
options(width=90)
library(pacman)
p_load(asreml, dplyr, fs, janitor, kw, lattice, readr, readxl, reshape2, tibble)
library(rmarkdown)
```
# Data preparation


```r
setwd("(>>>DIR<<<)")
```

```
## Error in setwd("(>>>DIR<<<)"): cannot change working directory
```

```r
dat0 <- import("(>>>FILE_SANS<<<)")
```

```
## Error in import("(>>>FILE_SANS<<<)"): No such file
```

```r
dat <- dat0
```

```
## Error in eval(expr, envir, enclos): object 'dat0' not found
```

```r
dat <- nick(dat, loc=Location)
```

```
## Warning in nick(dat, loc = Location): Ignoring these columns in the data: Location
```

```r
dat <- transformat(dat, loc=factor(loc))
```

```
## Error in transformat(dat, loc = factor(loc)): could not find function "transformat"
```

```r
str(dat)
```

```
## 'data.frame':	15392 obs. of  8 variables:
##  $ female  : Factor w/ 70 levels "1","2","16","18",..: 3 3 3 3 3 3 3 3 3 3 ...
##  $ male    : Factor w/ 1 level "0": 1 1 1 1 1 1 1 1 1 1 ...
##  $ site    : Factor w/ 12 levels "101","102","103",..: 1 1 1 1 1 1 1 1 1 1 ...
##  $ block   : Factor w/ 20 levels "1","2","3","4",..: 18 5 6 3 17 16 20 15 14 1 ...
##  $ height  : num  25.5 21.5 24.5 29 32 27 25 27.5 26.5 29 ...
##  $ volume  : num  0.756 1.088 1.187 2.15 2.851 ...
##  $ rust    : int  0 0 0 0 0 0 0 0 0 0 ...
##  $ stemform: int  1 4 4 5 2 3 3 3 1 2 ...
```

```r
describe(dat)
```

```
## Error in describe(dat): could not find function "describe"
```

# Exploratory graphics



	
